
body{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0rem 25%;
  padding-top: 2rem;
}

@media screen and (max-width:700px) {
  body{
    padding: 0rem 0rem;
    padding-top: 2rem;
  }
}

